<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <f:view locale="#{lokalizacija.odabraniJezik}"/>
    <h:head>
        <h:outputStylesheet library="css" name="osnovna.css"  />
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            
            <h:commandLink value="#{p.nav_1}" action="pogled_1.xhtml" rendered="#{lokalizacija.prijavljen}"/>
            <h:commandLink value="#{p.nav_2}" action="pogled_2.xhtml" rendered="#{lokalizacija.prijavljen}"/>
            <h:commandLink value="#{p.nav_3}" action="pogled_3.xhtml" rendered="#{lokalizacija.prijavljen}"/>
            <h:commandLink value="#{p.nav_6}" action="pogled_6.xhtml" rendered="#{lokalizacija.prijavljen}"/>
            <h:commandLink value="#{p.login_btnLogin}" action="prijava.xhtml" rendered="#{!lokalizacija.prijavljen}"/>
            <h:commandLink value="#{p.reg_btnLogin}" action="registracija.xhtml" rendered="#{!lokalizacija.prijavljen}"/>
            <h:commandLink value="#{p.logout}" action="#{lokalizacija.odjaviSe()}" rendered="#{lokalizacija.prijavljen}"/>
        </h:form>
        <h:form>
            <h:commandButton class="button" value="#{p.index_hr}" 
                             action="#{lokalizacija.odaberiJezik('hr')}"/>
            <h:outputText value="&nbsp;"/>

            <h:commandButton class="button" value="#{p.index_en}" 
                             action="#{lokalizacija.odaberiJezik('en')}"/>
            <h:outputText value="&nbsp;"/>

        </h:form>
    </h:body>
</html>

