<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:view locale="#{lokalizacija.odabraniJezik}">
        <h:outputStylesheet library="css" name="osnovna.css"  />
        <h:head>
            <title>#{p.pog1_naslov1}</title>
        </h:head>
        <h:body>
            <h:form>
                <h:commandLink value="#{p.index_naslov}" action="index.xhtml" />            
                <h:commandLink value="#{p.nav_2}" action="pogled_2.xhtml" />
                <h:commandLink value="#{p.nav_3}" action="pogled_3.xhtml" />  
                <h:commandLink value="#{p.nav_6}" action="pogled_6.xhtml" />
                <h:commandLink value="#{p.logout}" action="#{lokalizacija.odjaviSe()}" />
            </h:form>
            <h:form>  


                <h:panelGroup>
                    <h:panelGrid columns="2">
                        <h:outputText value="#{p.pog1_ime}" />
                        <h:inputText id="imeA" value="#{pogled_1.imeKorisnika}"></h:inputText>

                        <h:outputText value="#{p.pog1_prezime}" />
                        <h:inputText id="prezimeA" value="#{pogled_1.prezimeKorisnika}"></h:inputText>

                        <p> </p>
                        <h:commandButton  action="#{pogled_1.azuriraj()}"
                                          value="#{p.btn_update}"
                                          class="button">
                            <f:ajax execute="imeA prezimeA" render="popisKorisnika" />
                        </h:commandButton>



                    </h:panelGrid>

                </h:panelGroup>




                <h:outputText id="porukaA" value="#{pogled_1.porukaAzuriraj}"  />


                <h:dataTable  value="#{pogled_1.korisniciZaPrikaz}"
                              class="produzi"
                              id="popisKorisnika"
                              var="k" >
                    <h:column>
                        <f:facet name="header">#{p.pog1_korime}</f:facet>
                        <h:outputText value="#{k.ki}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">#{p.pog1_ime}</f:facet>
                        <h:outputText value="#{k.ime}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">#{p.pog1_prezime}</f:facet>
                        <h:outputText value="#{k.prezime}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">#{p.pog1_email}</f:facet>
                        <h:outputText value="#{k.email}"/>
                    </h:column>
                </h:dataTable>
                <br/>
                <h:commandButton  value="#{p.btn_prev}" 
                                  class="button"
                                  rendered="#{pogled_1.prethodni}" 
                                  action="#{pogled_1.prethodniKorisnici()}"/>

                <h:commandButton  value="#{p.btn_newx}" 
                                  class="button"
                                  rendered="#{pogled_1.sljedeci}" 
                                  action="#{pogled_1.sljedeciKorisnici()}"/>

            </h:form>
        </h:body>
    </f:view>
</html>