<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:view locale="#{lokalizacija.odabraniJezik}"/>
    <h:outputStylesheet library="css" name="osnovna.css"  />
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h:commandLink value="#{p.index_naslov}" action="index.xhtml" />
            <h:commandLink value="#{p.nav_1}" action="pogled_1.xhtml" />
            <h:commandLink value="#{p.nav_2}" action="pogled_2.xhtml" />
            <h:commandLink value="#{p.nav_3}" action="pogled_3.xhtml" />
            <h:commandLink value="#{p.logout}" action="#{lokalizacija.odjaviSe()}" />
        </h:form>
        <h:form>
            <h:panelGrid columns="3">
                <h:outputLabel for="korisnik" value="#{p.p6_korisnik}"/>
                <h:inputText id="korisnik" value="#{pogled_6.korisnik}"/>
                <br/>

                <h:outputLabel for="ipAdresa" value="#{p.p6_adresa}"/>
                <h:inputText id="ipAdresa" value="#{pogled_6.ipadresa}"/>
                <br/>

                <h:outputLabel for="odVremena" value="#{p.p6_od}"/>
                <h:inputText id="odVremena" value="#{pogled_6.odVremena}">
                    <f:convertDateTime timeZone="Europe/Zagreb" pattern="dd.MM.yyyy HH:mm:ss" />
                </h:inputText>     
                <br/>

                <h:outputLabel for="doVremena" value="#{p.p6_do}"/>
                <h:inputText id="doVremena" value="#{pogled_6.doVremena}">
                    <f:convertDateTime timeZone="Europe/Zagreb" pattern="dd.MM.yyyy HH:mm:ss" />
                </h:inputText>
                <br/>

                <h:outputLabel for="adresaZahtjeva" value="#{p.p6_url}"/>
                <h:inputText id="adresaZahtjeva" value="#{pogled_6.adresaZahtjeva}"/>
                <br/>

                <h:outputLabel for="trajanjeZahtjeva" value="#{p.p6_trajanje}"/>
                <h:inputText id="trajanjeZahtjeva" value="#{pogled_6.trajanjeZahtjeva}"/>


                <h:commandButton class="button" value="Prikaži" action="#{pogled_6.filtriraj()}">
                    <f:ajax execute="korisnik ipAdresa trajanjeZahtjeva adresaZahtjeva odVremena doVremena" render="tablica prethodni sljedeci"/>
                </h:commandButton> <br/>           
            </h:panelGrid>

            <h:panelGroup  layout="block"  id="tablica" >
                <h:dataTable value="#{pogled_6.podaciDnevnikZaPrikaz}" var="m" class="tablica" rendered="#{pogled_6.tablica}">
                    <h:column>
                        <f:facet name="header">#{p.p6_korisnik}</f:facet>
                            #{m.korisnik}
                    </h:column>
                    <h:column>
                        <f:facet name="header">#{p.p6_adresa}</f:facet>
                            #{m.ipadresa}
                    </h:column>

                    <h:column>
                        <f:facet name="header">#{p.p6_trajanje}</f:facet>
                            #{m.trajanje}
                    </h:column>

                    <h:column>
                        <f:facet name="header">#{p.p6_vrijeme}</f:facet>
                            #{m.vrijeme}
                    </h:column>

                    <h:column>
                        <f:facet name="header">#{p.p6_status}</f:facet>
                            #{m.status}
                    </h:column>

                    <h:column>
                        <f:facet name="header">#{p.p6_url}</f:facet>
                            #{m.url}
                    </h:column>
                </h:dataTable>
            </h:panelGroup>

            <br/>
            <h:panelGroup  id="prethodni">
                <h:commandButton  value="#{p.btn_prev}" 
                                  class="button"

                                  rendered="#{pogled_6.prethodni}" 
                                  action="#{pogled_6.prethodni()}"/>
            </h:panelGroup>

            <h:panelGroup id="sljedeci">

                <h:commandButton  value="#{p.btn_newx}" 
                                  class="button"
                                  rendered="#{pogled_6.sljedeci}" 
                                  action="#{pogled_6.sljedeci()}"/>

            </h:panelGroup>
        </h:form>
    </h:body>
</html>

