<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <f:view locale="#{lokalizacija.odabraniJezik}"/>


    <h:head>
        <h:outputStylesheet library="css" name="osnovna.css"  />
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>Aplikacija 2 - Pregled 2</title>
        </f:facet>
    </h:head>

    <h:body>
        <h:form>

            <h:commandLink value="#{p.index_naslov}" action="index.xhtml" />
            <h:commandLink value="#{p.nav_1}" action="pogled_1.xhtml" />            
            <h:commandLink value="#{p.nav_3}" action="pogled_3.xhtml" />
            <h:commandLink value="#{p.nav_6}" action="pogled_6.xhtml" />
            <h:commandLink value="#{p.logout}" action="#{lokalizacija.odjaviSe()}" />
        </h:form>
        <h:panelGrid columns="3" class="produzi" >
            <h1>#{p.p2_naslovPoslu}</h1>
            <h:panelGroup>              
                <h:form>
                    <h:panelGrid columns="3" style="border-bottom: solid 1px black">
                        <h:commandButton value="#{p.p2_gumbPauza}" 
                                         class="button"
                                         action="#{pogled_2.pauziraj()}">
                            <f:ajax execute="" render="stanjeServera"/>
                        </h:commandButton>
                        <h:commandButton value="#{p.p2_gumbKreni}" 
                                         class="button"
                                         action="#{pogled_2.pokreni()}">
                            <f:ajax execute="" render="stanjeServera"/>
                        </h:commandButton>
                        <h:commandButton value="#{p.p2_gumbPasivno}"
                                         class="button"
                                         action="#{pogled_2.pasiviziraj()}">
                            <f:ajax execute="" render="stanjeServera"/>
                        </h:commandButton>
                        <h:commandButton value="#{p.p2_gumbAktivno}"
                                         class="button"
                                         action="#{pogled_2.aktiviraj()}">
                            <f:ajax execute="" render="stanjeServera"/>
                        </h:commandButton>
                        <h:commandButton value="#{p.p2_gumbStani}"
                                         class="button"
                                         action="#{pogled_2.zaustavi()}">
                            <f:ajax execute="" render="stanjeServera"/>
                        </h:commandButton>

                    </h:panelGrid>



                </h:form>
            </h:panelGroup>
            <h:outputText id="stanjeServera" value="#{pogled_2.stanjeServera}"  />
            
            
            
            <h1>#{p.p2_naslovGrup}</h1>            
            <h:panelGroup>

                <h:form>
                    <h:panelGrid columns="2">
                        <h:commandButton value="#{p.p2_gumbDeregistracija}" 
                                         class="button"
                                         action="#{pogled_2.deregistrirajGrupu()}">
                            <f:ajax execute="" render="stanjeGrupe"/>
                        </h:commandButton>
                        <h:commandButton value="#{p.p2_gumbRegistracija}" 
                                         class="button"
                                         action="#{pogled_2.registrirajGrupu()}">
                            <f:ajax execute="" render="stanjeGrupe"/>
                        </h:commandButton>
                        <h:commandButton value="#{p.p2_gumbBlokiraj}"
                                         class="button"
                                         action="#{pogled_2.blokirajGrupu()}">
                            <f:ajax execute="" render="stanjeGrupe"/>
                        </h:commandButton>
                        <h:commandButton value="#{p.p2_gumbAktivno}"
                                         class="button"
                                         action="#{pogled_2.aktivirajGrupu()}">
                            <f:ajax execute="" render="stanjeGrupe"/>
                        </h:commandButton>

                    </h:panelGrid>


                </h:form>
            </h:panelGroup>
            <h:outputText id="stanjeGrupe" value="#{pogled_2.stanjeGrupe}" />

        </h:panelGrid>






    </h:body>


</html>

