<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <f:view locale="#{lokalizacija.odabraniJezik}"/>

    <h:head>
        <h:outputStylesheet library="css" name="osnovna.css"  />
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>Aplikacija 2 - Pregled 3</title>
        </f:facet>
    </h:head>

    <h:body>
        <h:form>
            <h:commandLink value="#{p.index_naslov}" action="index.xhtml" />
            <h:commandLink value="#{p.nav_1}" action="pogled_1.xhtml" />
            <h:commandLink value="#{p.nav_2}" action="pogled_2.xhtml" />
            <h:commandLink value="#{p.nav_6}" action="pogled_6.xhtml" />
            <h:commandLink value="#{p.logout}" action="#{lokalizacija.odjaviSe()}" />
        </h:form>
        <h:form>
            <h:panelGrid columns="3" >

                <h:outputLabel for="naziv" value="#{p.p3_naziv}"/>
                <h:inputText id="naziv" value="#{pogled_3.naziv}"/>
                <br/>

                <h:outputLabel for="kapacitet" value="#{p.p3_kapacitet}"/>
                <h:inputText id="kapacitet" value="#{pogled_3.kapacitet}"/>
                <br/>

                <h:outputLabel for="adresa" value="#{p.p3_adresa}"/>
                <h:inputText id="adresa" value="#{pogled_3.adresa}"/>
                <h:commandButton value="Dodaj" action="#{pogled_3.dodajParkiraliste()}" class="button">
                    <f:ajax execute="kapacitet naziv adresa" render="popisparking"/>
                </h:commandButton>

            </h:panelGrid>
            <br/>
            <h:panelGrid columns="2">
                <h:panelGroup>
                    <h:outputLabel for="popisparking" value="#{p.p3_naslParkiralista}"/>
                    <br/>
                    <h:selectOneListbox id="popisparking" 
                                        size="6" 
                                        value="#{pogled_3.odabraniParking}" >
                        <f:selectItems value="#{pogled_3.vlastitiPopisParkinga}" 
                                       var="g" 
                                       itemLabel="#{g.labela}" 
                                       itemValue="#{g.vrijednost}" />
                    </h:selectOneListbox>
                </h:panelGroup>
                <h:panelGroup>
                    <h:panelGrid columns="4">
                        <h:commandButton value="#{p.p3_gumbObrisi}" action="#{pogled_3.obrisiParkiraliste()}" class="button">
                            <f:ajax execute="popisparking" render="popisparking poruka" />
                        </h:commandButton>

                        <h:commandButton value="#{p.p3_gumbAktiviraj}" action="#{pogled_3.aktivirajParkiraliste()}" class="button">
                            <f:ajax execute="popisparking" render="popisparking poruka" />
                        </h:commandButton>

                        <h:commandButton  value="#{p.p3_gumbBlokiraj}" action="#{pogled_3.blokirajParkiraliste()}" class="button">
                            <f:ajax execute="popisparking" render="popisparking poruka" />
                        </h:commandButton>

                        <br/>

                        <h:commandButton  value="#{p.p3_gumbStatus}" action="#{pogled_3.dohvatiStatusParkiralista()}" class="button">
                            <f:ajax execute="popisparking" render="poruka" />
                        </h:commandButton>

                        <h:commandButton  value="#{p.p3_gumbVozila}" action="#{pogled_3.dohvatiVozilaParkiralista()}" class="button">
                            <f:ajax execute="popisparking" render="popisVozila poruka" />
                        </h:commandButton>

                        <h:commandButton  value="#{p.p3_gumbZadnji}" action="#{pogled_3.dohvatiZadnjeMeteo()}" class="button">
                            <f:ajax execute="popisparking" render="popisMeteo poruka" />
                        </h:commandButton>

                        <h:commandButton  value="#{p.p3_gumbVaze}" action="#{pogled_3.dohvatiVazeceMeteo()}" class="button">
                            <f:ajax execute="popisparking" render="popisMeteo poruka" />
                        </h:commandButton>

                    </h:panelGrid>
                </h:panelGroup>    

            </h:panelGrid>

            <h:outputText id="poruka" value="#{pogled_3.poruka}"  />

            <h:panelGroup id="popisVozila">
                <div class="tablica">
                    <h:dataTable value="#{pogled_3.popisVozila}" 
                                 var="b"                                 
                                 class="produzi">
                        <h:column>
                            <f:facet name="header">#{p.p3_tabVozila_Akcija}</f:facet>
                                #{b.akcija}
                        </h:column>                   

                        <h:column>
                            <f:facet name="header">#{p.p3_tabVozila_Parkiraliste}</f:facet>
                                #{b.parkiraliste}
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{p.p3_tabVozila_Registracija}</f:facet>
                                #{b.registracija}
                        </h:column>                   

                    </h:dataTable>
                </div>
            </h:panelGroup>
            <br/>
            <h:panelGroup id="popisMeteo"  >
                <div class="tablica">
                    <h:dataTable value="#{pogled_3.meteoPodaci}" 
                                 class="produzi"
                                 var="m">

                        <h:column>
                            <f:facet name="header">#{p.tablica_datum}</f:facet>
                            #{m.lastUpdate}                              
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{p.tablica_vrijeme}</f:facet>
                                #{m.weatherValue}
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{p.tablica_temp}</f:facet>
                                #{m.temperatureValue}
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{p.tablica_tempMin}</f:facet>
                                #{m.temperatureMin}
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{p.tablica_tempmax}</f:facet>
                                #{m.temperatureMax}
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{p.tablica_tlak}</f:facet>
                                #{m.pressureValue}
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{p.tablica_vlaga}</f:facet>
                                #{m.humidityValue}
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{p.tablica_vjatar}</f:facet>
                                #{m.windSpeedValue}
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{p.tablica_vjatarSmjer}</f:facet>
                                #{m.windDirectionValue}
                        </h:column>

                    </h:dataTable>
                </div>
            </h:panelGroup>
        </h:form>
    </h:body>
</html>

