<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <f:view locale="#{lokalizacija.odabraniJezik}"/>
    <h:outputStylesheet library="css" name="osnovna.css"  />
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h:commandLink value="#{p.index_naslov}" action="index.xhtml" />            
            <div class="prijava">
                <h:outputText value="#{p.pog1_korime}" />
                <h:inputText class="unos" id="korime" value="#{prijava.korisnickoIme}"></h:inputText>

                <h:outputText value="#{p.login_password}" />
                <h:inputSecret class="unos" id="lozinka" value="#{prijava.korisnickaLozinka}"  ></h:inputSecret>


                <p> </p>
                <h:commandButton  action="#{prijava.prijaviSe()}"
                                  value="#{p.login_btnLogin}"
                                  class="button"></h:commandButton>


                <h:commandLink value="#{p.login_registracija}"
                               action="registracija.xhtml"/>

                <br/>
                <br/>
                <h:outputText value="#{prijava.poruka}" /> 

            </div>
        </h:form>

    </h:body>
</html>

