<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:view locale="#{lokalizacija.odabraniJezik}"/>
    <h:outputStylesheet library="css" name="osnovna.css"  />
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h:commandLink value="#{p.index_naslov}" action="index.xhtml" />            
            <div class="prijava">
                <h:panelGroup>

                    <h:outputText value="#{p.pog1_ime}" />
                    <h:inputText id="imeD" value="#{registracija.ime}"></h:inputText>

                    <h:outputText value="#{p.pog1_prezime}" />
                    <h:inputText id="prezimeD" value="#{registracija.prezime}"></h:inputText>

                    <h:outputText value="#{p.pog1_korime}" />
                    <h:inputText id="korimeD" value="#{registracija.korisnickoIme}"></h:inputText>

                    <h:outputText value="#{p.pog1_lozinka}" />
                    <h:inputSecret  class="unos" id="lozinkaD" value="#{registracija.korisnickaLozinka}"></h:inputSecret>

                    <h:outputText value="#{p.pog1_lozinka2}" />
                    <h:inputSecret class="unos" id="ponovljenaLozinkaD" value="#{registracija.ponovljenaLozinka}"></h:inputSecret>


                    <p> </p>
                    <h:commandButton  action="#{registracija.registriraj()}"
                                      value="#{p.login_registracija}"
                                      class="button">
                    </h:commandButton>



                </h:panelGroup>
                <h:commandLink value="#{p.reg_prijava}"
                               action="prijava.xhtml"/>
                <h:outputText id="porukaD" value="#{registracija.porukaDodaj}" />
            </div>
        </h:form>
    </h:body>
</html>

