
body{
    background-color: white;
    font-family: 'Exo', sans-serif;
}

table, td, th {    
    border: 1px;
    text-align: left;
    font-family: 'Exo', sans-serif;
}

table {
    border-collapse: collapse;
    width: 50%;
    font-family: 'Exo', sans-serif;
}

th, td {
    padding: 10px;
    font-family: 'Exo', sans-serif;
}

.button {
    background-color: activeborder;
    color: white;
    border: none;
    padding: 7px 15px;
    margin: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Exo', sans-serif;
}
.button:hover {
    background-color: blue; 
    color: white;
    font-family: 'Exo', sans-serif;
}

.button:disabled{
    background-color: black; 
    color: white;
    font-family: 'Exo', sans-serif;
}

a:link, a:visited {
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Exo', sans-serif;
}


a:hover, a:active {
    color: blue;
    font-family: 'Exo', sans-serif;
}

input[type=text] {

    width: 90%;
    border: none;
    border-bottom: 2px solid cornflowerblue;
    font-family: 'Exo', sans-serif;
}

