<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <link href="css/osnovna.css" rel="stylesheet"/>
        <title>Izbornik</title>
    </h:head>
    <h:body>
        <h:form>             
            <h:commandLink action="pregledKorisnika.xhtml" value="Pregled korisnika"/>
             
            <h:commandLink action="pregledDnevnika.xhtml" value="Pregled dnevnika"/>
        </h:form>
    </h:body>
</html>

