<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <link href="css/osnovna.css" rel="stylesheet"/>
        <title>Pregled korisnika</title>
        <h:outputStylesheet name="css/osnovna.css"/>
    </h:head>
    <h:body>
        <h:form>
            <h:commandLink value="Dnevnik" action="#{pregledKorisnika.pregledDnevnika()}"/> 
            <h:commandLink value="Početna" action="#{pregledKorisnika.pocetno()}"/> <br/>
        </h:form>
        <h1>Pregled korisnika</h1>
        <h:form>
            <h:dataTable class="table" value="#{pregledKorisnika.korisnici}" var="p" >
                <h:column>
                    <f:facet name="header">ID</f:facet>
                    <h:outputText value="#{p.id}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Korisnicko ime</f:facet>
                    <h:outputText value="#{p.korime}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Lozinka</f:facet>
                    <h:outputText value="#{p.lozinka}"/>
                </h:column>
            </h:dataTable> <br/>
        </h:form>
        <h:form>
            <h:commandButton rendered="#{pregledKorisnika.prethodni}" 
                             value="Prethodni" 
                             class="button"
                             action="#{pregledKorisnika.prethodniKorisnici()}" />
            <h:commandButton rendered="#{pregledKorisnika.sljedeci}" 
                             value="Sljedeći" 
                             class="button"
                             action="#{pregledKorisnika.sljedeciKorisnici()}" />
        </h:form>
    </h:body>
</html>

