<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <link href="css/osnovna.css" rel="stylesheet"/>
        <title>Pregled dnevnika</title>
        <h:outputStylesheet name="css/osnovna.css"/>
    </h:head>
    <h:body>
        <h:form>
            <h:commandLink value="Korisnici" action="#{pregledDnevnika.pregledKorisnika()}"/> 
            <h:commandLink value="Početna" action="#{pregledKorisnika.pocetno()}"/> <br/>
        </h:form>
        <h1>Pregled dnevnika</h1>
        <h:form>            
            <h:dataTable value="#{pregledDnevnika.zapisi}" var="z" >
                <h:column>
                    <f:facet name="header">ID</f:facet>
                    <h:outputText value="#{z.id}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Korisnicko ime</f:facet>
                    <h:outputText value="#{z.korisnik}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Sadržaj</f:facet>
                    <h:outputText value="#{z.url}"/>
                </h:column>     
                <h:column>
                    <f:facet name="header">Trajanje</f:facet>
                    <h:outputText value="#{z.trajanje}"/>
                </h:column> 
            </h:dataTable>
        </h:form>
        <h:form>
            <h:commandButton rendered="#{pregledDnevnika.prethodni}" 
                             value="Prethodni" 
                             class="button"
                             action="#{pregledDnevnika.prethodniZapisi()}" />
            <h:commandButton rendered="#{pregledDnevnika.sljedeci}" 
                             value="Sljedeći" 
                             class="button"
                             action="#{pregledDnevnika.sljedeciZapisi()}" />
        </h:form>

    </h:body>
</html>

